@charset "utf-8";

body  {
	background-color:#290A52;
	/*background-image: url(spacer.gif);*/
	/*background-repeat: repeat;*/
	margin: 0 auto;
	width: 100%;
	color: bisque;
	font-size: 100%;
	font-family: Tahoma, Sans-Serif;
	
}

h1 {
	color: #f9f9f9;
}

#cabecalho {
	margin: 0;
	width: 100%;
	background: #3ECCDA; 
	height: 190px;
	box-shadow: 0 0 30px black;
}

#DivLogo {
	/*position:top ;*/
	text-shadow: 8px 8px 8px black;
	vertical-align: top;
	font-size: 30px;
	margin: 0 auto;
	width: 800px;
	height: 180px;
	padding-top: 10px;
	background: #3ECCDA; 
	text-align: center;
		
}

.flexmenu {
	width: 50%;
	height: 65px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	text-align: center;	
	
}

.menu2 {
	width: 200px;
	height: 40px;
	margin: 10px;
	position: static;
	padding-top: 13px;
	justify-content: space-around;
	text-align: center;
	
	
}
a.menu:link {
	font-weight: bold;
	color: #FFBB00;
	font-size: 22px;
	text-decoration: none;
	opacity: 90%;
	transition:all 1.s ease;
}

a.menu:hover, a.menu:active, a.menu:visited, a.menu:focus {
	color: #FFBB00;
	font-size:200%;
	font-weight: bold;
	opacity: 1;
	text-shadow: 2px 2px 2px black;
}

.menu2:hover {
	justify-content: space-around;
	position: relative;	
		
}

.conteudo{
	margin: 0 auto;
	height: 100%;
	width: 800px;
	color:#3D3D3D;
	justify-content: center;
	text-align: justify;
	font: normal normal normal 15px Tahoma;
	border: #EEA808;
	
}

#corrida {	
	float: right;
	width: 18%;
	top: 10px;
	border: thick silver dotted;
	margin: 0.6em;
	padding: 0.1em;
	align-items: center;
	text-align: center;
}

img.escala {
	width: 100%;
	top: 10px;
	
}
img.robo {
	width: 90px;
	height: 80px;
	padding: 0;
	position: relative;
	left: 100%;
	margin-left:-100px;
	top:50%;
	margin-top: -60px;

}
a.groupskill:link {
	text-decoration: none;
	opacity: 90%;
	transition:all 1.s ease;
		
}

a.groupskill:hover {
	color: #290A52;
	background-position: 10%;
	background-color: #3D3D3D;	
	width: 100;
}

.skill {
	width: 700px;
	height: 30px;
	margin: 5px;
	display: flex;	
}

#css {
	font-size: 15px;
	margin: 12px 10px 15px 25px;
	padding: 1px;
	width: 700px;
	height: 18px;
	background-image: linear-gradient(to right, rgb(0, 0, 0), transparent); 
	text-align: center;
	color: #3D3D3D;
	border-radius: 9px; 
}

#html {
	font-size: 15px;
	margin: 12px 5px 10px 23px;
	padding: 1px;
	width: 700px;
	height: 18px;
	background-image: linear-gradient(to right, rgb(0, 0, 0), transparent); 
	text-align: center;
	color: #3D3D3D;
	border-radius: 10px; 
}

#java {
	font-size: 15px;
	margin: 12px 10px 10px 10px;
	padding: 1px;
	width: 200px;
	height: 18px;
	background-image: linear-gradient(to right, rgb(0, 0, 0), transparent); 
	text-align: center;
	color: #3D3D3D;
	border-radius: 10px; 
}


.box {
	width: 748px;
	float: center;
	margin:3% 1%;
	padding: 0.5% 2%;
	border-radius: 8px;  
	background-color:#f9f9f9;
	box-shadow: 0 0 30px black;
  }
  .box h2 {
	margin:0,5% 0;
	font-size:22px;
	border-style: solid;
    border-bottom-width: 3px;
    border-top-width: 0;
 	border-right-width: 0;
  	border-left-width: 10px;
  }
  .box h3 {
	font: normal bolder normal 16px Tahoma;  
	margin:0,1% 0;

  }
  .box p {
	font: normal bolder normal 15px Tahoma;  
	margin:0,2% 0;
		
  }

#contem{	
	float: right;
	width: 50%;
	height: 10px;
	bottom: 30px;
	margin-left: auto;
    margin-right: 0;
}
.imglikedin {
	transition: 400ms;
	opacity: 70%;
	width:150px;
	height:40px;
}
.imglikedin:hover {
	opacity: 1;
}
.portifolio {
	transition: 400ms;
	opacity: 70%;
	width:50%;
	height:50%;
	
}
.portifolio:hover {
	opacity: 1;
	width:100%;
	height:100%;

}

a.ancora:link {
	background-color: #f9f9f9;
	color: #290A52 ;
	border-radius: 45px 45px 0 0 ;
	font-size: 15px;
	padding: 15px 10px 13px 10px;	
	left:73%;
	margin-left:73%;
	margin-bottom: 50px ;
	bottom: 3px;
	position: sticky;
	font-weight: bold;	
	font-size: 22px;
	text-decoration: none;
	opacity: 20%;
	transition:all 1.s ease;
}

a.ancora:hover {
	opacity: 80%;
	color: #290A52 ;
}