@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=DotGothic16&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body  {
	background: linear-gradient(180deg, rgba(0,204,255,1) 62%, rgba(0,154,0,1) 100%);	
    margin: 0;
	width: 100%;
	height: 100%;
	font-size: 100%;
	font-family: Tahoma, Sans-Serif;
}

h1 {
	color:#3D3D3D;
}

#cabecalho {
	margin: 0;
	width: 100%;
	background-image: url(Imagens/nuvens.png);
	height: 220px;
	/*box-shadow: 0 0 30px black;*/
}

#DivLogo {
	/*position:top ;*/
	text-shadow: 8px 8px 8px black;
	vertical-align: top;
	font-size: 30px;
	margin: 0 auto;
	width: 800px;
	height: 190px;
	padding-top: 70px;
	text-align: center;
}

.logo {
	text-shadow: 8px 8px 8px black;	
	margin: 2px 0px 0 0;
}
.flexmenu {
	width: 100%;
	height: 60px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	text-align: center;	
}

.menu2 {
	width: 240px;
	height: 60px;
	margin: 15px;
	position: static;
	padding-top: 15px;
	justify-content: space-around;
	text-align: center;
	background-color:#f9f9f9;
	border-radius: 10px 10px 0 0 ;
	box-shadow: 0 -6px 5px #333333b9;
}

a.menu:link {
	font: normal normal 30px 'Orbitron', sans-serif;
	text-decoration: none;
	opacity: 80%;
	transition:all 1.s ease;
	color: #3D3D3D;
	
}

a.menu:hover, a.menu:active, a.menu:visited, a.menu:focus {
	color: #3D3D3D;
	font-size: 210%;
	font-weight:bolder;
	opacity: 1;
	
	
}


.menu2:hover, .menu2:active, .menu2:visited {
	background-color:#f9f9f9;
	box-shadow: 0 0 0 black;
	
		
}

.conteudo{
	margin: 0 auto;
	height: 100%;
	width: 900px;
	color:#3D3D3D;
	justify-content: center;
	text-align: justify;
	font: normal normal normal 20px 'Orbitron', sans-serif;
	border: #EEA808;
	
}

#corrida {	
	float: right;
	width: 18%;
	top: 10px;
	border: thick silver dotted;
	margin: 0.6em;
	padding: 0.1em;
	align-items: center;
	text-align: center;
}

img.escala {
	width: 100%;
	top: 10px;
	
}
img.robo {
	width: 90px;
	height: 80px;
	padding: 0;
	position: relative;
	left: 100%;
	margin-left:-100px;
	top:40%;
	margin-top: -30px;

}
a.groupskill:link {
	text-decoration: none;
	opacity: 90%;
	transition:all 1.s ease;
		
}

a.groupskill:hover {
	
	background-position: 10%;
	background-color: #3D3D3D;	
	width: 100px;
}

.skill {
	width: 700px;
	height: 30px;
	margin: 5px;
	display: flex;	
}

#css {
	font-size: 15px;
	margin: 12px 10px 15px 25px;
	padding: 1px;
	width: 700px;
	height: 18px;
	background-image: linear-gradient(to right, rgb(0, 0, 0), transparent); 
	text-align: center;
	color: #3D3D3D;
	border-radius: 9px; 
}

#html {
	font-size: 15px;
	margin: 12px 5px 10px 23px;
	padding: 1px;
	width: 700px;
	height: 18px;
	background-image: linear-gradient(to right, rgb(0, 0, 0), transparent); 
	text-align: center;
	color: #3D3D3D;
	border-radius: 10px; 
}

#java {
	font-size: 15px;
	margin: 12px 10px 10px 10px;
	padding: 1px;
	width: 200px;
	height: 18px;
	background-image: linear-gradient(to right, rgb(0, 0, 0), transparent); 
	text-align: center;
	color: #3D3D3D;
	border-radius: 10px; 
}


.box {
	width: 850px;
	float: center;
	margin:2% 1%;
	padding: 0.5% 2%;
	border-radius: 8px;  
	background-color:#f9f9f9;
	box-shadow: 0 0 30px black;
  }
  .box h2 {
	margin:0,1% 0;
	font-size:28px;
	border-style: solid;
    border-bottom-width: 5px;
    border-top-width: 0;
 	border-right-width: 0;
  	border-left-width: 10px;
	
  }
  .box h3 {
	font: normal bolder normal 19px 'Orbitron', sans-serif;  
	margin:0,1% 0;

  }
  .box p {
	font: normal normal 20px 'Orbitron', sans-serif;  
	margin:0,1% 0;		
  }

#contem{	
	float: right;
	width: 70%;
	height: 10px;
	bottom: 0px;
	margin-bottom: 10px;
	margin-left: auto;
    margin-right: 0;
}
.img_redes {
	display: flex; /*conceito de flex box, manda tudo para linha*/
    flex-direction: row;
    align-items: center;
	height:65px;
	padding-right: 0px;
	margin: 0px;
}

.redes{
	transition: 400ms;
	opacity: 50%;
	padding-left: 15px;
	margin: 0;
}
.redes:hover{
	opacity: 1;
}

.galeria {
	display: flex; /*conceito de flex box, manda tudo para linha*/
    flex-direction: row;
	align-items: center;
	justify-content:center;
	padding: 5px;
	
}
.portifolio {
	transition: 400ms;
	opacity: 90%;
	width:100%;
	height:100%;
		
}
.portifolio:hover {
	opacity: 1;
	width:100%;
	height:100%;
	padding: 3px;
	margin-right: 5px;

}
a.ancora{
	width: 50px;
	height: 50px;
	left:75%;
	float: left;
	position: sticky;
	bottom: 10%;
	margin: 1px;
	
}

a.ancora:link, a.ancora:visited{
	
	color: #00ccff ;
	font-size: 50px;
	text-decoration: none;
	opacity: 30%;
	transition:all 1.s ease;
}

a.ancora:hover {
	opacity: 100%;
	color:white ;
	text-shadow: 0 0 20px black;
}

footer {
	background: url("Imagens/rodape.png") right bottom /
	auto repeat-x scroll content-box padding-box;
	width: 100%;
	height: 100%;
	position: static;
	float: bottom;
	padding-bottom: 50px;
}