@charset "utf-8";

body  {
	background-color:#290A52;
	/*background-image: url(spacer.gif);*/
	/*background-repeat: repeat;*/
	margin: 0 auto;
	width: 100%;
	color: bisque;
	font-size: 100%;
	font-family: Tahoma, Sans-Serif;
	
}

h1 {
	color: #f9f9f9;
}

#cabecalho {
	margin: 0;
	width: 100%;
	background: #3ECCDA; 
	height: 190px;
}

#DivLogo {
	/*position:top ;*/
	vertical-align: top;
	font-size: 30px;
	margin: 0 auto;
	width: 800px;
	height: 180px;
	padding-top: 10px;
	background: #3ECCDA; 
	text-align: center;
	color: red;
}
img.robo {
	width: 13%;
        float: right;
	margin: 0 auto;
	vertical-align: top;

}

.flexmenu {
	width: 500px;
	height: 65px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	text-align: center;
	

}

.menu2 {
	width: 120px;
	height: 40px;
	margin: 0 auto;
	font-weight: bold;
	transition:all 1.s ease;
	padding: 20px;
	justify-content: center;
	text-align: center;
}
a:link {
	color: white;
	font-size: 20px;
	text-decoration:none;
}
 a:visited {
	/*color: #290A52;*/
	color: white;
	font-size: 20px;
	text-decoration:none;
}
a:hover {
	color: white;
	font-size:30px;
}
a:active {
	color: yellow;
	font-size:30px;
}


.menu2:hover {
	font-size:250%;
	font-weight: bold;
	background: #290A52;
	
}

.conteudo{
	margin: 0 auto;
	height: 100%;
	width: 800px;
	color:#3D3D3D;
	justify-content: center;
	text-align: justify;
	font: normal normal normal 15px Tahoma;
	border: #EEA808;
	
}

#corrida {	
	float: right;
	width: 18%;
	top: 10px;
	border: thick silver dotted;
	margin: 0.6em;
	padding: 0.1em;
	align-items: center;
	text-align: center;
}

img.escala {
	width: 100%;
	top: 10px;
	
}


a.groupskill:link {
	width: 100%;
	top: 10px;
	
}

a.groupskill:hover {
	color: blue;
	text-underline-position: auto;
		
}

.skill {
	width: 700px;
	height: 30px;
	margin: 2px;
	display: flex;	
}

#css {
	font-size: 15px;
	margin: 12px 10px 15px 25px;
	padding: 1px;
	width: 700px;
	height: 18px;
	background-image: linear-gradient(to right, rgb(0, 0, 0), transparent); 
	text-align: center;
	color: #3D3D3D;
	border-radius: 9px; 
}

#html {
	font-size: 15px;
	margin: 12px 5px 10px 23px;
	padding: 1px;
	width: 700px;
	height: 18px;
	background-image: linear-gradient(to right, rgb(0, 0, 0), transparent); 
	text-align: center;
	color: #3D3D3D;
	border-radius: 10px; 
}

#java {
	font-size: 15px;
	margin: 12px 10px 10px 10px;
	padding: 1px;
	width: 200px;
	height: 18px;
	background-image: linear-gradient(to right, rgb(0, 0, 0), transparent); 
	text-align: center;
	color: #3D3D3D;
	border-radius: 10px; 
}


.box {
	width: 748px;
	float: center;
	margin:3% 1%;
	padding: 0.5% 2%;
	border-radius: 8px;  
	background-color:#f9f9f9;
  }
  .box h2 {
	margin:0,5% 0;
	font-size:22px;
	border-style: solid;
    border-bottom-width: 3px;
    border-top-width: 0;
 	border-right-width: 0;
  	border-left-width: 10px;
  }
  .box h3 {
	font: normal bolder normal 16px Tahoma;  
	margin:0,1% 0;

  }
  .box p {
	font: normal bolder normal 15px Tahoma;  
	margin:0,2% 0;
		
  }

#contem{	
	float: right;
	width: 10%;
	top: 5px;
	align-items: center;
	
}
